<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
		<title>{{name}}</title>
		{{#description}}<description>{{description}}</description>{{/description}}
  </head>
  <body>
	{{#rootFolder.folders}}
	<nav>
		<ul>
			<a href="{{/uri}}">{{name}}</a>
		</ul>
	</nav>>
	{{/rootFolder.folders}}
	<main>
		{{#sections}}
			{{{rendered}}}
		{{/sections}}
	</main>
	
	{{#footer}}
	<footer>
		{{{footer_rendered}}}
	</footer>
	{{/footer}}
  </body>
</html>